<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995799241945-q6pj4cs8lafr5dfma46auvgatpia18tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995799241945-q6pj4cs8lafr5dfma46auvgatpia18tt</string>
	<key>API_KEY</key>
	<string>AIzaSyDn5FDucJN1Greho1X4f1OH7l8IHocmZn0</string>
	<key>GCM_SENDER_ID</key>
	<string>995799241945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kimjongseo.Blog</string>
	<key>PROJECT_ID</key>
	<string>blog-cdc1b</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-cdc1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995799241945:ios:56caecc3a0d1ae67be9ac8</string>
</dict>
</plist>